

body{
	background-color: #fff;
	padding-top: 80px;
}

#dot {
	color: #37C9C9;
}

/*Home*/
.full-page-bg {
  position: absolute;
  margin-top: -80px;
  padding-bottom: 100px;
  width:100%;
  min-height: 100vh;
  background: url('../img/common/illustrations-01.png') no-repeat center center fixed;
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/*Cards*/
.card{
	border: none;
	background-color: transparent;
}

/*Navbar Rules*/
.navbar.fixed-top.navbar-expand-lg.navbar-light{
	background: rgba(255, 255, 255, 0.9);
}

img.nav-bar-img{
	margin-right: 10px;
}

.navbar-nav.ml-auto{
	background-color: #000;
	padding-left: 30px;
	padding-right: 30px;
}

.navbar{
	background-color: none;
	font-size: 14px;
	text-transform: lowercase;
}

a.navbar-brand{
	font-family:'Montserrat', Sans-Serif;
}

.navbar a.nav-item.nav-link{
	background-color: #000;
	color: #fff;
	padding: 10px 15px;
}

.navbar a.nav-item.nav-link:hover,
.navbar a.nav-item.nav-link.active:hover{
	background-color: #37C9C9;
	color: #000;
}

.navbar a.nav-item.nav-link.active{
	color: #37C9C9;
	/*font-weight: bold;*/
}

.navbar-toggler{
	border: none;
}

/*Floating Nav*/
.floating-nav{
	position: fixed;
	margin-top: 45px;
}

a.float-nav-link{
	font-family: 'Avenir', Sans-Serif;
	color: #000;
	font-size: 14px;
	font-weight: 300;
	text-align: right;
	padding: none;
	margin: 2px;
	border-right: 4px solid transparent;
}

a.float-nav-link:hover{
	border-right: 4px solid #37C9C9;
}

a.float-nav-link.active{
	border-right: 4px solid #37C9C9;
}

/*Image Rules*/
img{
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
}

/*Font Override Rules*/
h1, h2, h3, h4, h5, h6 {
	font-family:'Avenir', Sans-Serif;
	margin-bottom: 0px;
}
	h1.welcome-special{
		font-size: 80px;
		color: #000;
		letter-spacing: 15px;
		font-weight: bold;
	}

	h2.welcome-special-sub{
		font-family: 'Avenir', Sans-Serif;
		font-size: 20px;
		font-weight: lighter;
		color: #000;
		text-transform: lowercase;
		margin-bottom: 20px;
	}

	h3{
		/*text-transform: uppercase;*/
		color: #000;
		letter-spacing: -0.5px;
	}

p, li, span, a{
	font-family: 'Avenir', Sans-Serif;
	text-align: justify;
	font-weight: 300;
}

	p{
		color: #494949;
		line-height: 30px;
		margin-bottom: 25px;
	}

span.img-caption{
	display: block;
	font-size: 12px;
	font-weight: 500;
	padding: 10px 0px 10px 0px;
}

#research-questions li{
	list-style-type: square;
	padding: 5px;
}

/*Container/class etc Override Rules*/
.welcome-message{
	margin-top: 250px;
}

.welcome-button-container{
	margin-top: 20px;
}

.welcome-button{
	background-color: #fff;
	border-radius: 0px 0px 0px 0px;
	border: 3px solid #37C9C9;
	font-family:'Montserrat', Sans-Serif;
	font-size: 15px;
	color: #37C9C9;
	text-transform: uppercase;
	font-weight: bold;
}

.welcome-button:hover{
	background-color: #37C9C9;
	border-color: #37C9C9;
	color: #fff;
	font-weight: bold;
}

.welcome-button:active{
	background-color: #2c9e9e;
	border-color: #2c9e9e;
	color: #fff;
	font-weight: bold;
}

.master-heading{
	padding-top: 60px;
	padding-bottom: 10px;
}

.section-heading{
	padding-top: 100px;
	padding-bottom: 15px;
}

.slide-show{
	padding: 30px 0px 50px 0px;
}

/*Footer*/
.footer{
	margin-top: 100px;
	padding-top: 30px;
	width: 100%;
	min-height: 100px;
	background-color: #363636;
}

.footer p{
	color: #acacac;
}

/*Contact*/
#contact {
	text-align: center;
	padding-top: 120px;
}

#contact h3 {
	font-size: 40px;
	padding-bottom: 50px;
}

.square{
	height: 3px;
  	width: 500px;
	background-color: #37C9C9;
	margin: 0 auto;
}